<div class="container mt-2">
    <form>
      <div class="mb-3 row">
        <label for="imagen" class="col-sm-2 col-form-label">Imagen</label>
        <div class="col">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="peluche.imagenUrl"
            id="imagen"
            name="imagen"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="nombre" class="col-sm-3 col-form-label"
          >Nombre peluche</label
        >
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="peluche.nombre"
            name="nombre"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="precio" class="col-sm-2 col-form-label">Precio (€)</label>
        <div class="col">
          <input
            type="number"
            class="form-control"
            id="precio"
            [(ngModel)]="peluche.precio"
            name="precio"
          />
        </div>
      </div>
    </form>
    <div class="row">
      <button type="submit" class="col-2 mx-auto btn btn-primary" (click)="anadirPeluche()">Añadir</button>
    </div>
  </div>
