<div class="bienvenida">
<h5>¡Bienvenidos al mundo de los peluches, donde la magia y la ternura se entrelazan en cada rincón! En este reino de suavidad y alegría, cada abrazo es un rayo de luz que ilumina corazones y despierta sonrisas.

    Aquí, los peluches no solo son juguetes, sino amigos que escuchan, cómplices de aventuras y guardianes de secretos. En cada uno de ellos hay un mensaje de amor y amistad, un recordatorio de que la bondad y la compasión son los verdaderos tesoros de este mundo.
    
    En este universo de peluches, la imaginación es el límite y los sueños se vuelven realidad. Cada cosquilleo, cada risa compartida, nos recuerda la importancia de valorar los pequeños momentos de felicidad y gratitud.
    
    Así que adelante, sumérgete en este maravilloso mundo de peluches y deja que su ternura te envuelva. Que cada caricia sea un recordatorio de que la bondad y el amor son los hilos que tejen la magia de la vida. ¡Que el mundo de los peluches te llene de alegría y te acompañe en cada paso de tu camino! </h5>
</div>
<div>
    <table>
        <tbody>
        <tr>
        <td><img src="../../assets/imagenes/IMG_5125.jpg" alt=""></td>
        <td><img src="../../assets/imagenes/IMG_5126.jpg" alt=""></td>
        <td><img src="../../assets/imagenes/IMG_5127.jpg" alt=""></td>
        <td><img src="../../assets/imagenes/IMG_5128.jpg" alt=""></td>
        <td><img src="../../assets/imagenes/IMG_5129.jpg" alt=""></td>
        </tr>
        </tbody>
        </table>
</div>


